<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/animate.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<section class="s0">
	
</section>
<section class="s1">
	
</section>
<section class="s2 row">

	<div class="col-xs-offset-1 col-xs-7 s2-cont">
		<center><div class="wow fadeInUp">
			<span class="sub-text">Welcome to</span> <br><br><br class="brc">
			<span class="s-title">WebDev Training</span><br><br class="br12">
			<br class="brc"><span class="sub-text"> after the session you'll be able to develop something like this.</span></div>
			<br><br><br><br><br><br>
			<span class="s-title1">THE TRAINING</span>
			</center>
			<br><br class="brc">
			<div class="s-div">
			<span class="s-q">What will I learn?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			At </span> the end of the training you will know how to design, develop, and then deploy your system to production. <br class="brd"> <span class="spanc">      
			We </span> will covering HTML, CSS, Ruby on Rails, Github, and Heroku.</p>

			<span class="s-q">What do I need to prepare?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			You </span> will need to install Ruby on Rails, Sublime Text 3 (or any other text editors you prefer), Github, and the Heroku CLI kit. <br class="brd"> <span class="spanc">      
			The </span>guidelines on how to complete these installations will be provided through email.</p>

			<span class="s-q">Do I need prior programming experience?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			No, </span> prior programming experience is not required. We will be covering the entire web application development process, the tools, and techniques during the training. We will have some assistant trainers onhand to help you debug and keep up with the class.</p>

			<span class="s-q">Why is this site not mobile responsive!?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			This </span> was made as fast as possible and there was no time to design for mobile. We will be touching on mobile responsive web application development in the training. <span style="font-size: 24px;">&#9786;</span></p>                             
			</div>
		
	</div>
</section>
<section id="s3" data-parallax="scroll" data-image-src="/assets/vision.jpg">

	<center class="wow fadeInUp">
	<br><br><br><br><br><br>
	<div class="row s-row">
	<%= image_tag "/assets/vision1.png",:class=>"" %>
	</div>
	<br>
	<div class="row">
	<div class="col-md-offset-3 col-md-6">
	<p class="s-q2">MISA is an excellent home org. It trains students in its core competency to become responsible and qualified professionals. The org’s focus for the past few years have been in strengthening itself internally—putting systems in place to create better events and form better leaders. With strong protocols in place for event execution and officer training, I believe that MISA can now start heading out into society to affect greater change.  <br><br>I envision a MISA where the organization’s core competency is used to solve real problems—where members get to leverage Information Management as a tool for social transformation. </p></div></center>

</section>

<section class="s4">
<center>
<%= image_tag "/assets/where.png", :style=>"margin-top:-7.5vh;" %>
<p class="s-q4">
	With strong systems in place, MISA is a sustainable organization.<br>
	I believe that the organization is ready to take its next step: IM Consultancy.
</p>
<div class="row" style="margin-top:10px;">
	<div class="col-xs-offset-2 col-xs-4 swot" >
		<div class="row">
			<div class="swotbox" style="margin-right:20px;text-align: left;padding-left:1vw;padding-top:1vh;">
			STRENGTHS<br><br>
			<ul class="swot-t">
				<li>Steady income stream</li>
				<li>Strong branding</li>
				<li>Sustainable leadership</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="swotbox" style="margin-right:20px;text-align: left;padding-left:1vw;padding-top:1vh;">
			OPPORTUNITIES<br><br>
			<ul class="swot-t">
				<li>Focused officer training due to smaller member base</li>
			</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-4 swot">
		<div class="row" style="margin-top:13vh;">
			<div class="swotbox" style="margin-left:20px;text-align: right;padding-top:1vh;padding-right:1vw;">
			WEAKNESSES<br><br>
			<ul class="swot-t">
				<li>Lack of member involvement in core competency</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="swotbox" style="margin-left:20px;text-align: right;padding-top:1vh;padding-right:1vw;">
			THREATS<br><br>
			<ul class="swot-t">
				<li>Reduced manpower from incoming freshman batch</li>
			</ul>
			</div>
		</div>
	</div>

</div>
</center>
</section>
<section class="s5">
<center>
<%= image_tag "/assets/plans.png", :style=>"margin-top:-8vh;" %>
<p class="s-q3">
	To cultivate MISA's growth as a premier information management organization,<br>
	I believe that the following action points are needed.
</p>
</center>
</section>
<section class="s6">

<div class="row">
	<div class="s6-col1 wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
		<%= image_tag "/assets/design.png", :style=>"margin-top:-2.7vh; width:200%; margin-left:-50%;" %><p class="col-text1"style="margin-top:-4.8vh;">
		Next year, MISA will align the organization to IM through laying the groundwork for IM consultancy. <br>
1.) Restructuring the organization to become more IM-ready. <br>
&nbsp&nbsp&nbsp&nbsp&nbsp a. Opportunities for non-coders to be more proactive in the development of MISA’s core competency.<br>
2.) Construction of IM consultancy frameworks<br>
3.) Formulation of  IM Training Curriculum<br>

Organization Unity<br>
1.) Coordinate Cluster Trainings<br>
&nbsp&nbsp&nbsp&nbsp&nbsp a. Ensure members undergo holistic formation<br>
&nbsp&nbsp&nbsp&nbsp&nbsp b. Cluster training sessions should complement training from other clusters<br>
2.) Strengthen Org Traditions <br>
3.) Initiate relations with Alumni<br>
4.) Align vision of each cluster</p>
	</div>

	
	<div class="s6-col2 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
		<%= image_tag "/assets/develop.png", :style=>"margin-top:-2.7vh; width:200%; margin-left:-50%;" %><p class="col-text1"style="margin-top:-4.8vh;">
		The organization will further develop its competency not just in tech but also in IM through training its members:<br>
1.) IM workshops<br>
2.) IM Case studies<br>
3.) Instill IM culture in officers<br>

Member Involvement<br>
1.) Develop closer ties between BETA and members <br>
&nbsp&nbsp&nbsp&nbsp&nbsp a. Strengthen BETA involvement in MISA initiatives<br>
2.) Mentor-based Leadership<br>
&nbsp&nbsp&nbsp&nbsp&nbsp a. Enhance officer training through community based learning</p>
	</div>
	
	<div class="s6-col3 wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">
		<%= image_tag "/assets/deploy.png", :style=>"margin-top:-3vh; width:200%; margin-left:-50%;"%>
		<p class="col-text1"style="margin-top:-4.8vh;">
			Apply IM internally and externally<br>
1.) Use findings from Org dev initiatives to improve the MISA’s processes<br>
2.) IM Outreach: Take on projects from organizations that need IM consultancy<br>
3.) IM Consultancy Project
		</p>
	</div>
</div>
<div class="row">

<p class="s-q5">
My three-point plan aims to:
</p> <br class="brd0">
<p class="s-q5sub">
show <span class="s-q5b">EXCELLENCE</span> in how the org invests in its own members’ development through training them<br class="brd1"> in the core competency.
</p>

<p class="s-q5sub">
strengthen <span class="s-q5b">PROFESSIONALISM</span> through creating opportunities for members to work in a<br class="brd1"> professional environment..
</p>

<p class="s-q5sub">
develop <span class="s-q5b">SERVANT-LEADERSHIP</span> through IM Outreach, a channel for social transformation which is in<br class="brd1"> line with MISA's mission to inform, form, and transform society through information management.

</div>
<center>
<br><br><br><br>
<hr class="hrd">
<%= image_tag "/assets/contact.png", :style=>"margin-top:-24.7vh;" %>
</center>
<%= image_tag "/assets/suit.png", :style=>"margin-left:-4vw;z-index:3!important;position:absolute;bottom:0;" %>
<%= image_tag "/assets/hex.png", :style=>"z-index:0!important;position:absolute;bottom:0;right:-7vw;" %>
<%= form_for(@message) do |f| %>
  
<div class="row" style="margin-top:0vh;">
	<div class="cform">
	<div class="divsh" style="width:14vw; float:left; margin-left:1vw;">
	<div style="width:98%;height:4vh;background-color:white; padding-top:5.5px;">
		<span class="cf-font">NAME</span>
		<%= f.text_field :name,:class=>"c-text",:style=>"margin-top:10px;width:100%;background-color:transparent;border: 2px solid white;line-height:1.4em; padding:5px;" %>
	</div>
		<div style="width:98%;height:4vh;background-color:white; padding-top:5.5px; margin-top:50px;">
		<span class="cf-font">EMAIL</span>
		<%= f.text_field :email,:style=>"margin-top:10px;width:100%;background-color:transparent;border: 2px solid white;line-height:1.4em; padding:5px;",:class=>"c-text" %>
	</div>
	</div>

	<div class="divsh1" style="width:0.4vw;float:left;margin-left:0.15vw;">
	</div>

	<div class="divsh" style="width:33vw;float:right; margin-right:1vw;">
	<div style="width:99%;height:4vh;background-color:white; padding-top:5.5px;margin-left:1%;">
		<span class="cf-font">MESSAGE</span><br>
		<%= f.text_area :body,:style=>"width:100%;margin-top:10px;background-color:transparent;border: 2px solid white;resize: none; padding:5px;", rows: "12",:class=>"c-text" %><br>
		<input type="image" src="/assets/send.png" border="0" alt="submit" style="margin-left:30%;transition: all .2s linear;margin-top:10px;outline: none;box-shadow:none;
border-color:transparent;" class="blink_me" />
	</div>
	</div>

	</div>
		

</div>
<% end %>
</section>
<section class="footer">
<p class="footer-t">Copyright © 2019 | Developed by Enzo Bautista</p>
<%= image_tag "/assets/misa.png", :style=>"float:right;height:10.5vh;margin-top:1.25vh;margin-right:1.25vh;" %>
</section>
<a href="#0" class="cd-top">Top</a>
  <script>
  window.onload=function(){

 
    <% if @thanks.present? %>
alert("<%= @thanks %>");
<% end %>
  };

</script>

	<script src="assets/modernizr.js"></script>
 <script src="/assets/parallax.js"></script>
 <script type="text/javascript">

 
  $('#s3').parallax({imageSrc: '/assets/vision.jpg'});
  $('#as3').parallax({imageSrc: '/assets/36.jpg'});
  $('#as4').parallax({imageSrc: '/assets/37.jpg'});
  </script>
<script type="text/javascript">
	// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1400, 'easeInOutExpo');
        event.preventDefault();
    });
});
jQuery(document).ready(function($){
	// browser window scroll (in pixels) after which the "back to top" link is shown
	var offset = 300,
		//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
		offset_opacity = 1200,
		//duration of the top scrolling animation (in ms)
		scroll_top_duration = 700,
		//grab the "back to top" link
		$back_to_top = $('.cd-top');

	//hide or show the "back to top" link
	$(window).scroll(function(){
		( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
		if( $(this).scrollTop() > offset_opacity ) { 
			$back_to_top.addClass('cd-fade-out');
		}
	});

	//smooth scroll to top
	$back_to_top.on('click', function(event){
		event.preventDefault();
		$('body,html').animate({
			scrollTop: 0 ,
		 	}, scroll_top_duration
		);
	});

});
</script>
  <script src="/assets/wow.min.js"></script>
  <script>
  new WOW().init();
  </script> 

