<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/animate.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<section class="s0">
	
</section>
<section class="s1">
	
</section>
<section class="s2 row">

	<div class="col-xs-offset-1 col-xs-7 s2-cont">
		<center><div class="wow fadeInUp"> 
		
			<span class="sub-text">Welcome to</span> <br><br><br class="brc">
			<span class="s-title">WebDev Training</span><br><br class="br12">
			<br class="brc"><span class="sub-text"> after this training you'll be able to develop something like this.</span></div>
			<br><br><br><br><br><br>
			<span class="s-title1">THE TRAINING</span>
			</center>
			<br><br class="brc">
			<div class="s-div">
			<span class="s-q">What will I learn?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			At </span> the end of the training you will know how to design, develop, and then deploy your system to production. <br class="brd"> <span class="spanc">      
			We </span> will be covering HTML, CSS, Ruby on Rails, Github, and Heroku.</p>

			<span class="s-q">What do I need to prepare?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			You </span> will need to install Ruby on Rails, Sublime Text 3 (or any other text editors you prefer), Github, and the Heroku CLI kit. <br class="brd"> <span class="spanc">      
			The </span>guidelines on how to complete these installations will be provided through email.</p>

			<span class="s-q">Do I need prior programming experience?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			No, </span> prior programming experience is not required. We will be covering the entire web application development process the tools, and techniques during the training. We will have some assistant trainers onhand to help you debug and keep up with the class.</p>

			<span class="s-q">Why is this site not mobile responsive!?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			This </span> was made as fast as possible and there was no time to design for mobile. We will be touching on mobile responsive web application development in the training. <span style="font-size: 24px;">&#9786;</span></p>                             
			</div>
		
	</div>
</section>
<section id="s3" data-parallax="scroll" data-image-src="/assets/vision.jpg">

	<center class="wow fadeInUp">
	<br><br><br><br><br><br>
	<div class="row s-row">
	<%= image_tag "/assets/Overview.png", :style=>"margin-top:-50px;width:550px;" %>
	</div>

	<div class="row" style="margin-top:-100px;">
	<div class="col-md-offset-3 col-md-6">
	<p class="s-q2">The first session will take attendees through an overview of the course and the tools that will be used. This will include an introduction to full stack web application development. Participants will start off by learning HTML, CSS, and Bootstrap basics by developing their very own application front-end. After developing the front-end using the given frameworks, this will then be integrated to the functional back-end where participants will learn how to code with gems. <br><br>

	The second session will build upon the first's output wherein participants can improve their web applications, build more advanced functionalities, and then deploy their site for the world to use!
 	</p></div></center>

</section>

<section class="s4">
<center>
<%= image_tag "/assets/stack.png", :style=>"margin-top:-7.5vh;width:550px;" %>
<p class="s-q4" style="margin-top:-190px;">
	"This is simplified full stack web development training."<br>
	"A crash course for when your deadline is tomorrow"
</p>
<div class="row" style="margin-top:10px;">
	<div class="col-xs-offset-2 col-xs-4 swot" >
		<div class="row">
			<div class="swotbox" style="margin-right:20px;text-align: left;padding-left:1vw;padding-top:1vh;">
			HTML and CSS<br><br>
			<ul class="swot-t">
				<li>Semantic HTML</li>
				<li>CSS selectors</li>
				<li>Bootstrap</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="swotbox" style="margin-right:20px;text-align: left;padding-left:1vw;padding-top:1vh;">
			Back-End Language (RoR)<br><br>
			<ul class="swot-t">
				<li>MVC Framework</li>
				<li>Gems</li>
				<li>Scaffolding</li>
			</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-4 swot">
		<div class="row" style="margin-top:13vh;">
			<div class="swotbox" style="margin-left:20px;text-align: right;padding-top:1vh;padding-right:1vw;">
			Version Control (Github)<br><br>
			<ul class="swot-t">
				<li>Init</li>
				<li>Add</li>
				<li>Commit</li>
				<li>Push</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="swotbox" style="margin-left:20px;text-align: right;padding-top:1vh;padding-right:1vw;">
			Deployment<br><br>
			<ul class="swot-t">
				<li>Heroku CLI</li>
				<li>Deploying to production</li>
			</ul>
			</div>
		</div>
	</div>

</div>
</center>
</section>
<section class="s5">
<center>
<%= image_tag "/assets/Schedule.png", :style=>"margin-top:-150px;width:550px;" %>
<p class="s-q3">
	Session 1 | 1:30PM - 6:30PM | Feb 1, 2019 | TR4<br><br>
	Session 2 | 1:30PM - 6:00PM | Feb 7, 2019 | TR5 
</p>
</center>
</section>
<section class="s6">

<div class="row">
<br>
	<div class="s6-col1 wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
		<%= image_tag "/assets/design.png", :style=>"margin-top:-2.7vh; width:200%; margin-left:-50%;" %><p class="col-text1"style="margin-top:-4.8vh;">
		Design and build your website using the following tools:<br><br>
1.) Sublime Text3 - <a href="https://www.sublimetext.com/3">Download</a> 
<br><br>
2.) Bootstrap - <a href="https://getbootstrap.com/docs/4.2/getting-started/download/">Download</a><br>
<br>

Detailed instructions will be sent.
	</div>

	
	<div class="s6-col2 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
		<%= image_tag "/assets/develop.png", :style=>"margin-top:-2.7vh; width:200%; margin-left:-50%;" %><p class="col-text1"style="margin-top:-4.8vh;">
		Install your development tools:<br><br>
1.) Ruby - <a href="https://rubyinstaller.org/">Download</a><br><br>
2.) Build Tools - <a href="http://www.msys2.org/">Download</a> <br><br>
3.) Gems - <a href="https://rubygems.org/pages/download/">Download</a><br><br>
Detailed instructions will be sent.

	</div>
	
	<div class="s6-col3 wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">
		<%= image_tag "/assets/deploy.png", :style=>"margin-top:-3vh; width:200%; margin-left:-50%;"%>
		<p class="col-text1"style="margin-top:-4.8vh;">
			Tools for quick and easy deployment:<br><br>
1.) Github - <a href="https://desktop.github.com/">Download</a><br><br>
2.) Heroku CLI - <a href="https://devcenter.heroku.com/articles/heroku-cli#download-and-install">Download</a><br><br>
Detailed instructions will be sent.
		</p>
	</div>
</div>
<div class="row">

<p class="s-q5">
Some web dev tips:
</p> <br class="brd0">
<p class="s-q5sub">
Your best friend is <span class="s-q5b">Google</span>, he almost always has the answer.<br class="brd1"> 
</p>

<p class="s-q5sub">
Asking questions in <span class="s-q5b">Stackoverflow</span> is a good way to get help when stuck.<br class="brd1"> 
</p>

<p class="s-q5sub">
Always <span class="s-q5b">commit</span> before you push.<br class="brd1"> 

</div>
<center>
<br><br>
<hr class="hrd">
<br><br>

</center>

<%= image_tag "/assets/hex.png", :style=>"z-index:0!important;position:absolute;bottom:0;right:-7vw;" %>
<%= form_for(@message) do |f| %>
  
<div class="row" style="margin-top:0vh;">
	<div class="cform">
	<div class="divsh" style="width:14vw; float:left; margin-left:1vw;">
	<div style="width:98%;height:4vh;background-color:white; padding-top:5.5px;">
		<span class="cf-font">NAME</span>
		<%= f.text_field :name,:class=>"c-text",:style=>"margin-top:10px;width:100%;background-color:transparent;border: 2px solid white;line-height:1.4em; padding:5px;" %>
	</div>
		<div style="width:98%;height:4vh;background-color:white; padding-top:5.5px; margin-top:50px;">
		<span class="cf-font">EMAIL</span>
		<%= f.text_field :email,:style=>"margin-top:10px;width:100%;background-color:transparent;border: 2px solid white;line-height:1.4em; padding:5px;",:class=>"c-text" %>
	</div>
	</div>

	<div class="divsh1" style="width:0.4vw;float:left;margin-left:0.15vw;">
	</div>

	<div class="divsh" style="width:33vw;float:right; margin-right:1vw;">
	<div style="width:99%;height:4vh;background-color:white; padding-top:5.5px;margin-left:1%;">
		<span class="cf-font">MESSAGE</span><br>
		<%= f.text_area :body,:style=>"width:100%;margin-top:10px;background-color:transparent;border: 2px solid white;resize: none; padding:5px;", rows: "12",:class=>"c-text" %><br>
		<input type="image" src="/assets/send.png" border="0" alt="submit" style="margin-left:30%;transition: all .2s linear;margin-top:10px;outline: none;box-shadow:none;
border-color:transparent;" class="blink_me" />
	</div>
	</div>

	</div>
		

</div>
<% end %>
</section>
<section class="footer">
<p class="footer-t">Copyright © 2019 | Developed by Enzo Bautista</p>

</section>
<a href="#0" class="cd-top">Top</a>
  <script>
  window.onload=function(){

 
    <% if @thanks.present? %>
alert("<%= @thanks %>");
<% end %>
  };

</script>

	<script src="assets/modernizr.js"></script>
 <script src="/assets/parallax.js"></script>
 <script type="text/javascript">

 
  $('#s3').parallax({imageSrc: '/assets/vision.jpg'});
  $('#as3').parallax({imageSrc: '/assets/36.jpg'});
  $('#as4').parallax({imageSrc: '/assets/37.jpg'});
  </script>
<script type="text/javascript">
	// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1400, 'easeInOutExpo');
        event.preventDefault();
    });
});
jQuery(document).ready(function($){
	// browser window scroll (in pixels) after which the "back to top" link is shown
	var offset = 300,
		//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
		offset_opacity = 1200,
		//duration of the top scrolling animation (in ms)
		scroll_top_duration = 700,
		//grab the "back to top" link
		$back_to_top = $('.cd-top');

	//hide or show the "back to top" link
	$(window).scroll(function(){
		( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
		if( $(this).scrollTop() > offset_opacity ) { 
			$back_to_top.addClass('cd-fade-out');
		}
	});

	//smooth scroll to top
	$back_to_top.on('click', function(event){
		event.preventDefault();
		$('body,html').animate({
			scrollTop: 0 ,
		 	}, scroll_top_duration
		);
	});

});
</script>
  <script src="/assets/wow.min.js"></script>
  <script>
  new WOW().init();
  </script> 

